<form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Student Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" placeholder="Student Name:" name="name" ng-model="s.name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Roll No:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd" placeholder="Roll No" name="ctc" ng-model="s.rno">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Father's Name:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd" placeholder="Father's name" name="fName" ng-model="s.fName"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Mobile No:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd" placeholder="contact" name="mobileNo" ng-model="s.mobileNo"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Email:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd" placeholder="arun@gmail.com" name="email" ng-model="s.email"></input>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Address:</label>
      <div class="col-sm-8">          
        <textarea class="form-control" id="pwd" placeholder="Address" name="address" ng-model="s.address"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Branch:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" placeholder="Branch" name="branch" ng-model="s.branch">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Section:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" placeholder="section" name="section" ng-model="s.section">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Course:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd" placeholder="Course" name="course" ng-model="s.cource">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">YEAR:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" placeholder="year" name="year" ng-model="s.year">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">SSC:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd" placeholder="ssc" name="ssc" ng-model="s.ssc">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Inter:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" placeholder="inter" name="inter" ng-model="s.inter">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Current:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd" placeholder="current" name="current" ng-model="s.current">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Project:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd" placeholder="project" name="project" ng-model="s.project">
      </div>
    </div>

         <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Backlogs:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd" placeholder="backlogs" name="backlogs" ng-model="s.nBclog"></input>
      </div>
    </div>
         <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">placed:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd" placeholder="placed" name="placed" ng-model="s.placed"></input>
      </div>
    </div>
         <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">package:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd" placeholder="package" name="package" ng-model="s.package"></input>
      </div>
    </div>
         <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">company:</label>
      <div class="col-sm-8">          
        <textarea class="form-control" id="pwd" placeholder="Enter about company" name="company" ng-model="s.company"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">password:</label>
      <div class="col-sm-8">          
        <textarea class="form-control" id="pwd" placeholder="password" name="password" ng-model="s.password"></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-8">
        <button  ng-click="addStudent(s)" class="btn btn-default">Submit</button>
      </div>
    </div>
    <div ng-show="(addRmsg.length!=0?true:false)" class="alert alert-success">
    <strong>{{addRmsg}}</strong>
    </div>
  </form>