
<div class="container" style="box-sizing: border-box;">
    <div class="row">    
       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                    
                      <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 

           
              
   
                
                
                     
                     
                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">{{data.studentName}} </h4></span>
              <span><p>Student</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " >FULL NAME :</div><div class="col-sm-7 col-xs-6 ">{{data.studentName}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >REGISTRATION ID:</div><div class="col-sm-7"> {{data.regNumber}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >FATHER'S NAME:</div><div class="col-sm-7"> {{data.fName}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >MOBILE NO:</div><div class="col-sm-7">{{data.mobileNo}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >EMAIL:</div><div class="col-sm-7">{{data.email}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >ADDRESS:</div><div class="col-sm-7">{{data.address}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >COURSE:</div><div class="col-sm-7">{{data.cource}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >YEAR:</div><div class="col-sm-7">{{data.year}}</div>
 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >BRANCH:</div><div class="col-sm-7">{{data.branch}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >NO OF BACKLOGS:</div><div class="col-sm-7">{{data.nBclog}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >BTECH %:</div><div class="col-sm-7">{{data.current}}</div>
<div class="col-sm-5 col-xs-6 tital " ></div><div class="col-sm-7">
<a href='/update' id="a" style="display:inline-block;height:40px;width:90px;background-color:indianred;padding:5px;font-style:bold;color:white;font-size:20px;">update</a></div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  

       
       
       
       
       
       
       
       
       
   </div>
</div>




         


<!--




<html>
    <head>
        <style>
            .d
            { font-weight:bold;height:20px;width:200px; padding:5px;}
            .h
            {
                font-weight:bold;height:20px;width:200px;padding:5px;}
            #d:focus{
                background-color:maroon;font-style:oblique; }
        </style>
    </head>
    <body>
<div class="panel">
           <div  class="card-img-top" style="width:150px;height:150px;position:relative;">
        <img  data-ng-src="data:image/png;base64,{{str}}" height=150px width=150px style="position:absolute;top:3%;left:80%;"></img>
</div>
<div style="width:30px;height:30px;position:relative"></div>
                    <div class="card-body"><center>
                  <h4>           <table border=0 padding="5px" width=100% style="margin-left:100px; text-align:left;">
                                    <tr><td class="h">FULL NAME :</td><td class="d">{{data.studentName}}</td></tr>
                                    <tr><td class="h">REGISTRATION ID :</td><td class="d">{{data.regNumber}}</td></tr>
                                    <tr><td class="h">FATHER'S NAME :</td><td class="d">{{data.fName}}</td></tr>
                                    <tr><td class="h">MOBILE NO :</td><td class="d">{{data.mobileNo}}</td></tr>
                                    <tr><td class="h">EMAIL :</td><td class="d">{{data.email}}</td></tr>
                                    <tr><td class="h">ADDRESS:</td><td class="d">{{data.address}}</td></tr>
                                    <tr><td class="h">COURSE :</td><td class="d">{{data.cource}}</td></tr>
                                    <tr><td class="h">YEAR :</td><td class="d">{{data.year}}</td></tr>
                                    <tr><td class="h">BRANCH :</td><td class="d">{{data.branch}}</td></tr>
                                    <tr><td class="h">SECTION :</td><td class="d">{{data.section}}</td></tr>
                                    <tr><td class="h">BTECH % :</td><td class="d">{{data.current}}</td></tr>
                                    <tr><td class="h">NO OF BACKLOGS :</td><td class="d">{{data.nBclog}}</td></tr>
                                    <tr><td class="h">PROJECT :</td><td class="d">{{data.project}}</td></tr>
    <tr><td><a href='/update' id="a" style="display:inline-block;height:40px;width:90px;background-color:indianred;padding:5px;font-style:bold;color:white;font-size:20px;">update</a></td></tr>
        </table>{{image}}</h4>
</div>
    </body>
</html>
-->