<html>
  <head>
    <style>
     
    #a1:disabled{
        background: inherit; 
        color: black; 
        border: 2px solid gray;
    }
    </style>
  </head>
  <body>
<div class="table-responsive">
<table class="table table-bordered" style="background-color: #fff;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company</th>
      <th scope="col">CTC</th>
      <th scope="col">Interview Date</th>
      <th scope="col">Bond</th>
      <th scope="col">Domain</th>
      <th scope="col">Location</th>
      <th scope="col">Type</th>   
      <th scope="col">Apply</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat=" company in companyList">
      <th scope="row">{{$index+1}}</th>
      <td>{{company.companyName|uppercase}}</td>
      <td>{{company.CTC|currency:'₹ '}}L</td>
      <td>{{company.DOI}}</td>
      <td>{{company.bondPeriod + ' years'}}</td>
      <td>{{company.domain}}</td>
      <td>{{company.companyLoc}}</td>
      <td>{{company.type}}</td>
      <td>
        <button id="a1" ng-model="button" class="btn btn-primary" ng-click="showCompany(company.companyName)" ng-disabled="!{{company.eligible}}">Apply</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>