<form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Student Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email"  name="name" value={{data.studentName}} readonly>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Mobile no:</label>
        <div class="col-sm-8">          
          <input class="form-control" id="pwd"  value={{data.mobileNo}} ng-model="data.mobileNo"></input>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Email:</label>
        <div class="col-sm-8">          
          <input class="form-control" id="pwd"  name="email" value={{data.email}} ng-model="data.email" ></input>
        </div>
      </div>
        
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Address:</label>
        <div class="col-sm-8">          
          <input class="form-control" id="pwd"  name="backlogs" value={{data.address}} ng-model="data.address" ></input>
        </div>
      </div>
          
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Roll Number:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd"  name="ctc" value={{data.regNumber}} readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Branch:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" name="branch" value={{data.branch}} readonly>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">YEAR:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email"  name="year" value={{data.year}} readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">SSC:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd" name="ssc" value={{data.ssc}} readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Inter:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="email" name="inter" value={{data.inter}} readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Current:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd"  name="current" value={{data.current}} readonly>
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Project:</label>
      <div class="col-sm-8">          
        <input type="text" class="form-control" id="pwd"  name="project" value={{data.project}} >
      </div>
    </div>

         <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Backlogs:</label>
      <div class="col-sm-8">          
        <input class="form-control" id="pwd"  name="backlogs" value={{data.nBclog}} readonly></input>
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-8">
        <button  ng-click="update()" class="btn btn-default">update</button>
      </div>
    </div>
   
  </form>